name: PR Checks

on: pull_request

# Cancel in-progress/pending PR checks if a new commit is pushed to the branch.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  check-code-format:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up environment
        uses: ./.github/actions/setup-environment
        with:
          ktfmt: true
      - name: Check code formatting
        run: ./scripts/check-code-format.sh

  check-dependencies:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up environment
        uses: ./.github/actions/setup-environment
        with:
          gradle: true
      - name: Check dependencies
        run: ./scripts/check-dependencies.sh
